@charset "utf-8"; 

/* 웹폰트 CDN */
/* noto sans */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

/* 나눔고딕 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */

/* 나눔명조 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
/* font-family: 'Nanum Myeongjo', serif; */



/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Montserrat', sans-serif; */

/* Raleway */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Raleway', sans-serif; */

/* Exo */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Exo', sans-serif; */

/* Bellota */
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@300;400;700&display=swap');
/* font-family: 'Bellota', cursive; */

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */





/* 아이콘폰트 CDN         --> 폰트 관련 속성 적용가능*/
/* Material */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined'); 
/* font-family: 'Material Icons Outlined'; */
/* <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /> */


/* font-awesome */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* font-family: fontawesome; */
/* <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> */


/* xeicon */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); 
/* font-family: xeicon;  */
/* <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css"> */




* {margin: 0;padding: 0;}
html, body {width: 100%;height: 100%;}
html {overflow-y: scroll;overflow-x: hidden;    }
body {font-family: 'Noto Sans KR', sans-serif;}

article,aside,details,summary,figcaption,figure,
footer,header,hgroup,main,nav,section {display: block;}

li {list-style-type: none;}   
a {text-decoration: none;color: inherit;} 
table {border-collapse: collapse;   }
input, select {vertical-align: middle;}
html{scroll-behavior: smooth;}
body {font-family: 'Montserrat', sans-serif;color: #333;}




/* top 버튼 */
.top {position: fixed;right: 80px;bottom: 80px;z-index: 10;}
.top a {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../image/top.png) no-repeat center center;
  background-size: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(214, 214, 214);
  transition: 1.3s;
}
.top a:hover {background: url(../image/top_on.png) no-repeat center center;background-color: #000;background-size: 80px;transform: rotate(360deg);}
.mainImg {position: relative;width: 100%;height: 750px;}
.mainImg:before {
  content: '';
  width: 100%;
  height: 750px;
  background: url(../image/main_01.png) no-repeat center center fixed;
  background-size: cover;
  transform: translateY(-60px);
  position: absolute;
  top: 0;
}





/* ______________HEADER______________ */
header {position: absolute;top: 0;width: 100%;height: 60px;}
nav {top: 0;height: inherit;display: flex;justify-content: space-between;align-items: center;position: relative;}
.logo img{position: absolute;top: 0;width: 130px;height: 45px;}
.font-icon {
  top: 0;
  left: 130px;
  position: absolute;
  background-color: #000;
  height: 45px;
  text-align: left;
  width: 85px;
  color: #fff;
  font-size: 20px;
  padding-left: 0;
}
.font-icon i {transform: translateY(10px);margin-left: 15px;}
.font-icon i:hover {cursor: pointer;}
.font-icon i .fa1 {margin-left: 0;}
.gnb {
  position: absolute;  
  height: inherit;
  align-items: center;
  bottom: 0;
  display: flex;
  right: 0;
}
.gnb li {height: 60px;}
.gnb li a {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  margin: 15px;
  letter-spacing: -1px;
  transition: 0.5s;
}
.gnb li a:hover {border-bottom: 1px solid #fff;}
.mainText {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 270px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-150%);
  letter-spacing: -1px;
}
.mainText:hover {background-color: #333;cursor: pointer;}






/* ______________FOOTER______________ */
footer {
  background-color: #333;
  margin-top: 0;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  height: 200px;
}
footer h4 {margin-top: 20px;font-size: 20px;}
footer p {margin-top: 10px;line-height: 25px;}
footer address {margin-top: 20px;font-size: 15px;}






/* 작은 PC */
@media (min-width : 1024px) and (max-width : 1440px) {
  .top {right: 40px;bottom: 40px;}
  .gnb li a {font-size: 20px;}

}