@import url(common.css);

html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

#wrap, .top {display: block;}
.mediaq {display: none;}


.top {
  position: fixed;
  right: 80px;
  bottom: 80px;
  z-index: 10;
}
.top a {
  display: block;
  width: 80px;
  height: 80px;
  background: url(../image/top.png) no-repeat center center;
  background-size: 80px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 8px rgb(214, 214, 214);
  transition: 1.3s;
}
.top a:hover {
  background: url(../image/top_on.png) no-repeat center center;
  background-color: #000;
  background-size: 80px;
  transform: rotate(360deg);
}
.mainImg {
  position: relative;
  width: 100%;
  height: 750px;
}
.mainImg:before {
  content: '';
  width: 100%;
  height: 750px;
  background: url(../image/main_01.png) no-repeat center center fixed;
  background-size: cover;
  transform: translateY(-60px);
  position: absolute;
  top: 0;
}



/* ______________HEADER______________ */

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
}
nav {
  top: 0;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo img{
  position: absolute;
  top: 0;
  width: 130px;
  height: 45px;
}
.font-icon {
  top: 0;
  left: 130px;
  position: absolute;
  background-color: #000;
  height: 45px;
  text-align: left;
  width: 85px;
  color: #fff;
  font-size: 20px;
  padding-left: 0;
}
.font-icon i {
  transform: translateY(10px);
  margin-left: 15px;
}
.font-icon i:hover {
  cursor: pointer;
}
.font-icon i .fa1 {
  margin-left: 0;
}
.gnb {
  position: absolute;  
  height: inherit;
  align-items: center;
  bottom: 0;
  display: flex;
  right: 0;
}
.gnb li {
  height: 60px;
}
.gnb li a {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  margin: 15px;
  letter-spacing: -1px;
  transition: 0.5s;
}
.gnb li a:hover {
  border-bottom: 1px solid #fff;
}
.mainText {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  width: 270px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-150%);
  letter-spacing: -1px;
}
.mainText:hover {
  background-color: #333;
  cursor: pointer;
}



/* ______________SECTION______________ */
/*///// BAG  */

section {
  width: 100%;
}
#bag {
  margin: auto;
  text-align: center;
}
#bag h2 {
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: bold;
}
#bag h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  color: #777;
}
#bag p {
  margin-top: 25px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
}
#bag .press {
  margin-top: 40px;
  font-weight: 800;
  color: #777;
  display: inline-block;
  /* border: 1px solid rgb(220, 20, 60, 0.9); */
  /* border: 1px solid crimson; */
  padding: 10px;
  animation: ani 1.3s linear infinite alternate;
}
@keyframes ani {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}

.tab-inner {
  padding-top: 40px;
  height: 630px;
  width: 100%;
  margin: auto;
  position: relative;
  text-align: center;
}
.arrow {
  display: inline-block;
  position: absolute;
  left: 100%;
  margin-left: 55px;
  top: 45%;
  color: #555;
  font-size: 80px;
  font-weight: 300;
  transition: 0.5s;
}
.arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.flex-Inner {
  margin: auto;
  width: 100%;
  height: inherit;
}
.container {
  width: 1300px;
  height: inherit;
  margin: auto;
  background-color: whitesmoke;
  position: relative;
}
.bagContent {
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 90%;
  position: absolute;
  opacity: 0;
}
.btn_top {
  width: 100%;
  background-color: #fff;
  height: 60px;
  text-align: center;
  line-height: 35px;
  margin-bottom: 100px;
}
.btn_top label:nth-child(1),
.btn_top label:nth-child(2),
.btn_top label:nth-child(3),
.btn_top label:nth-child(4) {
  margin-right: 70px;
}
.btn_top label:last-child {
  margin-right: 10px;
}
input[name=tabmenu] {
  margin-right: 180px;
  display: none;
}
.bagContent img {
  width: 200px;
  height: 150px;
}
.flex1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.flex2 {
  display: flex;
  justify-content: space-between;
}
input[id=tab1]:checked ~.slide1, 
input[id=tab2]:checked ~.slide2,
input[id=tab3]:checked ~.slide3,
input[id=tab4]:checked ~.slide4,
input[id=tab5]:checked ~.slide5 {
  opacity: 1;
  transition: 0.5s;
}

input[id=tab1]:checked ~.btn_top label[for=tab1],
input[id=tab2]:checked ~.btn_top label[for=tab2],
input[id=tab3]:checked ~.btn_top label[for=tab3],
input[id=tab4]:checked ~.btn_top label[for=tab4],
input[id=tab5]:checked ~.btn_top label[for=tab5] {
  font-size: 25px;
  color: #333;
  border-bottom: 4px solid #222;
}

.bottomBtn {
  position: absolute;
  top: 90%;
  transform: translate(-50%,-50%);
  display: inline-block;
  height: 50px;
  width: 300px;
  margin: auto;
  line-height: 50px;
  border: 2px solid #000;
  font-size: 20px;
  text-align: center;
  font-weight: 500;

}
.bottomBtn:hover {
  background-color: #000;
  color: #fff;
}
.btn_top label {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #777;
  transition: 0.5s;
}
.btn_top label:hover {
  cursor: pointer;
  font-size: 24px;
}



/*///// ABOUT  */
#about {
  margin-top: 95px;
  width: 100%;
}
.about_inner {
  text-align: center;
  margin: auto;
  width: 1300px;
  border-bottom: 1px dashed #888;
}
.about_inner h2 {
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: bold;
}
.about_inner h3 {
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
  color: #666;
}
.about_inner h4 {
  color: #666;
  margin-top: 20px;
  margin-bottom: 55px;
}
.aboutTextImg {
  width: 100%;
  margin-top: 35px;
}
.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 50px;
  padding: 15px;
  width: 1350px;
  margin: auto;
  box-sizing: border-box;
}

.text .img {
  background: url(../image/about_03.png) no-repeat center center;
  width: 350px;
  height: 350px;
  background-size: cover;
  animation: aboutAni 2.5s ease-in-out infinite alternate;
}
@keyframes aboutAni {
  0% {
  }

  100% {
    background: url(../image/about_01.png) no-repeat center center;
    transform: rotateY(180deg);
    width: 350px;
    height: 350px;
    background-size: cover;
  }
}
.text_inner {
  text-align: center;
  margin-left: 50px;
}
.text_inner h2 {
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #555;
} 
.text_inner p {
  margin-bottom: 30px;
  font-weight: 500;
  color: #666;
  font-size: 18px;
}
.text_inner u { 
  color: #333;
}
.text_inner u:hover {
  cursor: pointer;
  color: #000;
}
.text_inner p:nth-of-type(1) {
  color: #555;
  font-weight: 600;
}
.about_tab-inner {
  margin: auto;
  width: 1350px;
  height: 570px;
  position: relative;
  overflow: hidden;
}
.about_slide {
  width: 1350px;
  height: 570px;
  height: inherit;
  position: relative;
  overflow: hidden;
}
.about_slideInner  {
  width: 5400px;
  height: 570px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}
.about_slideInner img {
  width: 1350px;
  height: 570px;
}
.aboutBtn {
  position: absolute;
  top: 0;
}
.aboutBtn label img {
  width: 100px;
  height: 50px;
  font-size: 0;
}
.aboutBtn label:nth-child(2) img {
  transform: translateX(-5px);
}
.aboutBtn label:nth-child(3) img {
  transform: translateX(-9px);
}
.aboutBtn label:nth-child(4) img {
  transform: translateX(-14px);
}
.aboutBtn label img:hover {
  cursor: pointer;
}
input[name=about_menu] {
  display: none;
  width: 150px;
}
input[id=tab_1]:checked ~.aboutBtn label[for=tab_1],
input[id=tab_2]:checked ~.aboutBtn label[for=tab_2],
input[id=tab_3]:checked ~.aboutBtn label[for=tab_3],
input[id=tab_4]:checked ~.aboutBtn label[for=tab_4] {
  filter: grayscale(100%);
}
input[id=tab_1]:checked ~.about_slide .about_slideInner img,
input[id=tab_2]:checked ~.about_slide .about_slideInner img,
input[id=tab_3]:checked ~.about_slide .about_slideInner img,
input[id=tab_4]:checked ~.about_slide .about_slideInner img {
  transition: 0.85s;
}
input[id=tab_1]:checked ~.about_slide .about_slideInner:hover img,
input[id=tab_2]:checked ~.about_slide .about_slideInner:hover img,
input[id=tab_3]:checked ~.about_slide .about_slideInner:hover img,
input[id=tab_4]:checked ~.about_slide .about_slideInner:hover img {
  cursor: pointer;
  border-radius: 0 110px 0 110px;
}
input[id=tab_1]:checked ~.about_slide .about_slideInner {
  left: 0;
}
input[id=tab_2]:checked ~.about_slide .about_slideInner {
  left: -1350px;
}
input[id=tab_3]:checked ~.about_slide .about_slideInner {
  left: -2700px;
}
input[id=tab_4]:checked ~.about_slide .about_slideInner {
  left: -4050px;
}
.click {
  color: #fff;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  right: -100px;
  width: 100px;
  transform: translateY(-3px);
  margin-left: 100px;
}
.clickFa {
  display: inline-block;
  transform: translateY(7px);
}
.last_span {
  color: #333;
  font-weight: 600;
}



/*///// service  */
#service {
  background-color: #f2f2f2;
  margin: auto;
  margin-top: 0;
  text-align: center;
  padding: 75px 0;
}
#service h2 {
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: bold;
}
#service h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
  color: #777;
}
.text_img {
  width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 50px;
  height: 350px;
}
.text_img .img {
  display: inline-block;
  background: url(../image/service_06.png) no-repeat center center;
  background-size: cover;
  width: 350px;
  height: 300px;
  flex: 3;
  transform: translateY(10px);
  transition: 0.5s ease-out;
  position: relative;
}
.text_img .img:before {
  content: 'HERE!';
  background-color: #222;
  color: #fff;
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 50px;
  transform: translate(-50%,-50%);
  text-align: center;
  line-height: 50px;
  transition: 0.5s ease-in;
}

.text_img .img:hover {
  cursor: pointer;
  background: url(../image/service_05.png) no-repeat center center;
  background-size: cover;
  width: 350px;
  height: 300px;
  transform: translateY(10px);
} 
.text_img .img:hover::before {
  display: none;
}
.right_text {
  padding: 30px;
  flex: 4;
}
.right_text h4 {
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #555;
}
.right_text p:nth-of-type(1) {
  margin-top: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #777;
}
.right_text p:nth-of-type(2) {
  margin-top: 25px;
  font-size: 18px;
  font-weight: 500;
  color: #555;
}
.right_text u:hover {
  cursor: pointer;
  color: #000;
}
.serviceImg {
  width: 1300px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  overflow: hidden;
}
.serviceImg ul {
  display: flex;
  justify-content: space-between; 
}
.serviceImg p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  height: 60px;
  margin-top: 0;
  text-align: center;
  line-height: 60px;
}

.fab_inner iframe {
  width:560px;
  height:315px;
  border: none;
  flex: 2;
}
.serviceImg ul li img {
  width: 410px;
  height: 300px;
  position: relative;
  filter: grayscale(100%);
  transition: 0.5s ease-in;
}
.serviceImg ul li img:hover {

  filter: saturate(1.2);
  cursor: pointer;
}
.service_fab {
  margin-top: 70px;
}
.fab_inner {
  width: 1200px;
  margin: auto;
  display: flex;
}
.fab_text {
  border: 1px solid #777;
  flex: 3;
  margin-right: 30px;
  padding: 17px;
}
.fab_text h4 {
  font-size: 35px;
  letter-spacing: -1px;
  font-weight: 600;
  margin-top: 10px;
  color: #444;
} 
.fab_text h5 {
  font-size: 18px;
  margin-top: 20px;
  color: #555;
} 
.fab_text p {
  margin-top: 20px;
  font-weight: 500;
  color: #555;
  font-size: 18px;
}
.btn2 {
  display: inline-block;
  height: 50px;
  width: 300px;
  margin: 50px auto 0;
  line-height: 50px;
  border: 2px solid #000;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.btn2:hover {
  background-color: #000;
  color: #fff;
}



/*///// store  */
#store {
  padding-top: 70px;
  width: 1450px;
  margin: auto;
  text-align: center;
}
#store h2 {
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: bold;
}
#store h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
  color: #777;
}
#store>p {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #555;
}
.storeImg {
  margin-top: 50px;
  margin: auto;
  width: 100%;
}
.storeImg ul li img {
  width: 450px;
  height: 285px;
  position: relative;
  overflow: hidden;
  bottom: 0;
}
.storeInfo {
  justify-content: space-around;
  display: flex;
}


/* store_hover_effect  */
.item_01,
.item_02,
.item_03 {
  position: relative;
  overflow: hidden;
  height: 285px;
  transition: 0.5s;
}
.detail_01,
.detail_02,
.detail_03 {
  background-color: rgba(255, 255, 255, 0.65);
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -183px;
  height: 258px;
  padding: 30px;
  box-sizing: border-box;
  transition: 0.5s;
}
.item_01:hover .detail_01,
.item_02:hover .detail_02,
.item_03:hover .detail_03 {
  bottom: 0;
}
.item_01:hover,
.item_02:hover,
.item_03:hover {
  cursor: pointer;
}
.item_01:hover,
.item_02:hover,
.item_03:hover {
  border-radius: 80px 80px 0 0;
}
.detail_01 .titile_01 h4,
.detail_02 .titile_02 h4,
.detail_03 .titile_03 h4 {
  font-size: 25px;
}
.info_01,
.info_02,
.info_03 {
  margin-top: 10px;
}
.info_flex_01,
.info_flex_02,
.info_flex_03 {
  display: flex;
}
.opening_01,
.opening_02,
.opening_03 {
  flex: 3;
  margin-right: 5px;
  transform: translateX(-5px);
}
.contact_01,
.contact_02,
.contact_03 {
  flex: 2;
}
.opening_01 span:nth-of-type(2),
.contact_01 span:nth-of-type(2),
.opening_02 span:nth-of-type(2),
.contact_02 span:nth-of-type(2),
.opening_03 span:nth-of-type(2),
.contact_03 span:nth-of-type(2){
  display: inline-block;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 3px solid #000;
  padding-bottom: 5px;
}
.opening_01 .fa,
.contact_01 .fa,
.opening_02 .fa,
.contact_02 .fa,
.opening_03 .fa,
.contact_03 .fa {
  font-size: 30px;
  transform: translate(-4px,6px);
  font-weight: 400;
}
.opening_01 ul,
.opening_02 ul,
.opening_03 ul {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.opening_01 ul li,
.opening_02 ul li,
.opening_03 ul li {
  margin-top: 5px;
  text-align: center;
  padding: 0;
  margin-bottom: 0;
}
.opening_01 ul li strong,
.opening_02 ul li strong,
.opening_03 ul li strong {
  margin-left: 10px;
  display: inline-block;
  width: 120px;
  box-sizing: border-box;
}
.opening_01 ul li span:nth-of-type(1),
.opening_02 ul li span:nth-of-type(1),
.opening_03 ul li span:nth-of-type(1) {
  display: inline-block;
  width: 100px;
  font-size: 13px;
  color: #000;
  font-weight: 500;
  margin-right: 0px;
}
.contact_01 span:nth-of-type(2),
.contact_02 span:nth-of-type(2),
.contact_03 span:nth-of-type(2) {
  display: inline-block;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}
.contact_01 ul,
.contact_02 ul,
.contact_03 ul {
  margin-top: 13px;
}
.contact_01 ul li,
.contact_02 ul li,
.contact_03 ul li {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  margin-top: 13px;
}
.storeInfo_sec {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}



/*///// contact  */
#contact {
  padding-top: 70px;
  width: 100%;
  text-align: center;
}
#contact h2 {
  font-size: 55px;
  letter-spacing: -3px;
  font-weight: bold;
}
#contact h3 {
  font-weight: 600;
  font-size: 22px;
  margin-top: 15px;
  color: #777;
}
.contactImg {
  margin-top: 50px;
}
.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 810px;
  overflow: hidden;
  transition: 0.5s;
}
.gallery li {
  flex: 1;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}
.gallery li:nth-child(1) {
  background: url(../image/contact_08.png) no-repeat center center fixed;
  background-size: cover;
}
.gallery li:nth-child(2) {
  background: url(../image/contact_09.png) no-repeat center center fixed;
  background-size: cover;
}
.gallery li:nth-child(3) {
  background: url(../image/contact_10.png) no-repeat center center fixed;
  background-size: cover;
}
.content {
  position: absolute;
  width: 100%;
  height: 250px;
  background-color: #000;
  color: #fff;
  padding: 20px;
  bottom: -350px;
  transition: 0.5s;
}
.content h4 {
  margin-top: 40px;
  font-size: 25px;
  font-weight: 600;
}
.content p {
  margin-top: 10px;
}
.content a {
  display: inline-block;
  margin-top: 20px;
  color: #888;
  font-size: 20px;
  margin-left: 3px;
}
.content:before {
  position: absolute;
  content: '';
  background-color: #000;
  width: 100%;
  left: -10px;
  top: 0;
  height: 60px;
  transform: rotate(-2deg) scale(1.3);
  transform-origin: left bottom;
}
.content:after {
  position: absolute;
  content: '';
  background-color: #000;
  width: 100%;
  right: -10px;
  top: 0;
  height: 60px;
  transform: rotate(2deg) scale(1.5) translateY(2px);
  transform-origin: right bottom;
}
.gallery li:hover {
  flex: 5;
  filter: grayscale(0.7);
}
.gallery li:hover .content {
  bottom: 0;
  transition-delay: 0.3s;
}
.sns {
  text-align: center;
}
.btn3 {
  display: block;
  height: 50px;
  width: 300px;
  line-height: 50px;
  border: 3px solid #888;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.btn3:hover {
  border: 3px solid #fff;
  background-color: #fff;
  color: #000;
}
.contactFont {
  font-size: 35px;
  transform: translateY(10px);
}



/* ______________FOOTER______________ */

footer {
  background-color: #333;
  margin-top: 0;
  text-align: center;
  padding-top: 10px;
  color: #fff;
  height: 200px;
}
footer h4 {
  margin-top: 20px;
  font-size: 20px;
}
footer p {
  margin-top: 10px;
  line-height: 25px;
}
footer address {
  margin-top: 20px;
  font-size: 15px;
}





/* 해상도 1920만 지정 */
@media (max-width : 1440px) {
  #wrap, .top {display: none;}
  .mediaq {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Noto sans KR', sans-serif;
    letter-spacing: -0.5px;
  }
  .mediaq>div {width: 90%;margin: 0 auto;height: 100%;word-break:keep-all;position: relative;}
  .mediaq>div>h1 {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
}

@media (max-width : 768px) {
  #wrap, .top {display: none;}
  .mediaq {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: 'Noto sans KR', sans-serif;
    letter-spacing: -0.5px;
  }
  .mediaq>div {width: 90%;margin: 0 auto;height: 100%;word-break:keep-all;position: relative;}
  .mediaq>div>h1 {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
}